<div class="index">
  {{ partial "default_head.html" . }}

  <section>
  {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
    <div class="row">
      <div class="col-sm-9">
        {{ if eq "categories" $taxonomyname }}
          <h1>{{ range $key, $value := $taxonomy }}
            <div>{{ $key }}</div><div><br></div>
              <div class="articles">
                <div class="row">
                  {{ range $value.Pages }}
                  <div class="col-sm-{{ if lt $key 2 }}4{{ else }}2{{ end }}">
                    {{ .Render "li" }}
                  </div>
                  {{ end }}
                </div>
              </div>
          {{ end }}</h1>
        {{ end }}
      </div>
    </div>
  {{ end }}
  </section>

  {{ partial "default_foot.html" . }}
</div>
